# Librerías básicas
numpy
pandas
scipy
matplotlib
seaborn
# Series temporales
statsmodels
prophet
pmdarima
tslearn
sktime
TimeGPT  # Para TimeGPT si decides usarlo

# Yahoo Finance y obtención de datos financieros
yfinance
pandas-datareader
alpha_vantage  # Alternativa para datos financieros
investpy  # Otra opción para datos de mercado
# Big Data & Apache Spark
pyspark
delta-spark
pyarrow
apache-airflow

# Validación de modelos y métricas
mlflow
optuna

# Conectividad con bases de datos (opcional)
sqlalchemy
psycopg2
pyodbc
